.DS_Store
Desktop.ini
Thumbs.db
*.user

.ndepend/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
swagger.json

$RECYCLE.BIN/
bin/
dist/
node_modules/
obj/
/.dist
*.ncrunchsolution
*.ncrunchproject
_NCrunch_*
